<div style="margin:20px 200px 0 200px">
    <div><a routerLink="/login" routerLinkActive="active"><- Back</a></div>
    <br />
    <div *ngIf="emailSent" style="color:blue;">Email sent.</div>
	<form (ngSubmit)="onForgetPassword()">
  <div class="form-group">
    <h3>Please enter your username here:</h3>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Your username" [(ngModel)]="username" required="required">
    <small id="usernameHelp" class="form-text text-muted">Please enter your username.</small>
    <br/>
    <button type="submit" class="btn btn-warning btn-block">Submit</button>
  </div>
</form>
</div>